#body {
  width: 15rem;
}

#activity-list{
  list-style-type: none;
}

#title {
  font-size: 1.4rem;
  width: 100%;
}
 .buttons {
   width: 100%;
   text-align: center;
 }

 .icons {
   float: left;
 }

 .text {
   font-size: 1.5rem;
 }
