#body {
  width: 15rem;
  background-color: #FFF4D9;
}
#nextBtn{
  float: right;
  padding: 8px 20px;
  background-color: #000005;
  margin-top: 5px;
}
h2{
  border-bottom: 3px solid black;
}
p{
  font-size: 15px;
}
.title {
  width: 100%;
  margin-left: -10px;
  margin-top: -15px;
  padding: 10px;
  background-color: #DB500B;
  text-align: center;
  color: white;
}
.faceButtons {
  height: 2.5rem;
  width: 2.5rem;
}

.faceIcon {
  height: 2rem;
  width: 2rem;
}
.button {
    background-color: #f26d2b;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 4px;
}
